<article th:fragment="forecast_day" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="py-4 d-flex flex-wrap justify-content-center">

        <div th:each="hour : ${day.hourlyForecasts}"
             class="forecast_hour d-flex flex-column align-items-center mx-3 py-4">

            <p th:text="${#temporals.format(hour.time, 'HH:mm')}" class="fw-bold"></p>

            <div class="weather_icon_wrapper">
                <img class="weather_icon p-2" th:src="@{/icons/{icon}(icon=${hour.condition.icon})}" alt="Wetter">
            </div>

            <div class="d-flex flex-column justify-content-flex-start">
                <div class="d-flex align-items-center mt-2">
                    <i class="fa-solid fa-temperature-full me-2"></i>
                    <p class="mb-0">
                        <span th:text="${hour.roundedTemperature} + ' °C'"></span>
                    </p>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <i class="fa-solid fa-wind me-2"></i>
                    <p class="mb-0">
                        <span th:text="${hour.roundedWindSpeed} + ' km/h'"></span>
                    </p>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <i class="fa-solid fa-cloud-showers-heavy me-2"></i>
                    <p class="mb-0">
                        <span th:text="${hour.roundedRain} + ' mm'"></span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</article>